<div class="container__account-personal" fxLayout="column" fxLayoutAlign="none none" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center none" fxLayoutGap="10px">
  <form class="form__container form__account-personal" #personalInfoForm="ngForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column" fxLayoutGap="10px" >
    <section fxLayout="column" fxLayoutGap="10px" class="form__fields">      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">

          <!-- Birthday -->
          <mat-form-field fxFlex fxFlex.gt-xs="300px" class="form__field">
            <input placeholder="Day of birth"
                id="birthday"
                name="birthday"
                readonly
                required
                #birthday="ngModel"
                matInput 
                [(ngModel)]="model.birthday" 
                [matDatepicker]="pickerBirthday"
                (click)="pickerBirthday.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerBirthday"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="utilService.isGtSm() ? false : true" #pickerBirthday startView="year" [startAt]="startAt"></mat-datepicker>
            <mat-error *ngIf="birthday.invalid && (birthday.dirty || birthday.touched) && birthday.errors.matDatepickerParse">Day of birth is invalid or not follow the pattern "mm/dd/yyyy"</mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
    
    <section class="form__actions form__actions--account-personal"
        fxLayout="column" fxLayout.gt-sm="row" 
        fxLayoutAlign="none start" fxLayoutAlign.gt-sm="center start" 
        fxLayoutGap="10px">
        
      <button mat-fab *ngIf="!(loading$ | async)" 
          class="fab mat-elevation-z10 form__action" 
          color="accent" 
          type="submit"
          matTooltip="Save changes" matTooltipPosition="left" 
          [disabled]="!personalInfoForm.form.valid">
        <mat-icon aria-label="Save changes">save</mat-icon>
      </button>
    </section>
  </form>
</div>
