<form class="form__container form__account-finance" #personalInfoForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" >
  
    <section fxLayout="column" class="form__fields">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px" class="form__fields__row">
        
        <!-- Birthday -->
        <mat-form-field >
          
          <input 
              id="birthday"
              name="birthday"
              #birthday="ngModel"
              matInput 
              [(ngModel)]="model.birthday" 
              [matDatepicker]="picker" 
              placeholder="Day of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="model.birthday"></mat-datepicker>
          <mat-error *ngIf="birthday.invalid && (birthday.dirty || birthday.touched) && birthday.errors.matDatepickerParse">Day of birth is invalid or not follow the pattern "mm/dd/yyyy"</mat-error>
        </mat-form-field>
      </div>
    </section>
  
  </form>