<div fxLayout="column" fxLayoutGap="10px">
  <section fxLayout="column" fxLayout.gt-xs="row">
    <mat-card *ngFor="let team of teams"
        fxFlex class="">
      <mat-card-content routerLink="/teams/edit/{{team.slug}}" fxLayoutAlign="space-around center">
        <p>{{team.name}}</p>
      </mat-card-content>
    </mat-card>
  </section>

  <section fxLayout="column" fxLayoutAlign="start end">
    <button mat-fab routerLink="create">
      <mat-icon class="md-24" aria-label="Create team">group_add</mat-icon>
    </button>
  </section>
</div>
