<mat-card class="investment__card" [class.investment-card__simulated]="investment.simulate">
  <mat-card-header routerLink="/properties/{{investment.property.type}}/edit/{{investment.property.id}}">
    <div mat-card-avatar class="header-image">
        <img [src]="'/assets/images/house.png'" [alt]="investment.type" />
    </div>
    <mat-card-title>{{investmentTitle + (investment.simulate ? ' [SIMULATED]' : '')}}</mat-card-title>
    <mat-card-subtitle>{{investment.property.address.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
    <!-- Card Data -->
    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="card__data">
      <span>Amount invested: <strong>{{investmentAmount | currency : 'USD' : 'code' : '1.2-2' }}</strong></span>

      <span>on {{investment.buyingDate | date}}</span>
      
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <span>Buying price: {{ buyingPrice | currency : 'USD' : 'code' : '1.2-2' }}</span>
        <info-tooltip text="Price on investment date" position="right"></info-tooltip>
      </div>

      <div>
        Market value: 
        <span [class.color__accent]="currentPrice >= buyingPrice" 
          [class.color__red]="currentPrice < buyingPrice">

          <strong>{{currentPrice | currency : 'USD' : 'code' : '1.2-2'}}</strong>
        </span>
      </div>

      <div *ngIf="investment.loanAmount" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <span>
          Loan amount: <strong>{{ loanAmount | currency : 'USD' : 'code' : '1.2-2' }}</strong>
        </span>
        <info-tooltip text="{{loanAmount / buyingPrice | percent}} of buying price" position="right"></info-tooltip>
      </div>

      <div fxLayout="column" [class.color__accent]="investmentReturn >= investmentAmount" 
          [class.color__red]="investmentReturn < investmentAmount">
        
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <span>ROI: <strong>{{ investmentReturn | currency : 'USD' : 'code' : '1.2-2' }}</strong></span>
          <info-tooltip text="Market value - Loan amount" position="right"></info-tooltip>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <span>Net ROI: <strong>{{ investmentReturn - investmentAmount | currency : 'USD' : 'code' : '1.2-2' }}</strong> ({{(investmentReturn - investmentAmount) / investmentAmount | percent : '1.1-2'}})</span>
          <info-tooltip text="ROI - Amount invested" position="right"></info-tooltip>
        </div>
      </div>
    </div>
    <!-- Team -->
    <mat-expansion-panel *ngIf="team" class="team-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{team.name}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div fxLayout="column" fxLayoutGap="10px" class="team-panel__content">

        <section class="members" fxLayout="column" fxLayoutGap="10px">
          <div *ngFor="let portion of investmentDistribution" fxLayout="row" fxLayoutGap="10px" class="member">
            <img class="member__avatar" [src]="portion.member.avatar"/>
            <div fxFlex class="member__info" fxLayout="column">
              <p class="member__name">{{portion.member.name}}</p>
              <!-- <p class="member__email">{{member.email}}</p> -->
              <div class="member__money" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between end">
                <p>{{ portion.percentage }}%</p>
                <p>{{ portion.money | currency : 'USD' : 'code' : '1.2-2' }}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </mat-expansion-panel>
    <!-- EOF Team -->

    <section class="card__actions" fxLayout="row" fxLayoutAlign="end none" fxLayoutGap="10px">
      <button 
          [disabled]="(loading$ | async)"
          mat-mini-fab 
          routerLink="/investments/property/edit/{{investment.id}}" 
          color="primary">
        <mat-icon aria-label="Edit Investment">edit</mat-icon>
      </button>

      <button 
          [disabled]="(loading$ | async)"
          mat-mini-fab 
          color="warn" 
          (click)="openDeleteDialog()">
        <mat-icon aria-label="Delete investment">delete</mat-icon>
      </button>
    </section>
  </mat-card-content>
</mat-card>
