@import '../../../../../variables';

.investment__card {
  text-align: left;

  &.investment-card__simulated {
    background-color: $purpleDark;
  }

  mat-card-header {
    cursor: pointer;

    .header-image {
    
      img {
        width : 40px;
      }
    }
  }

  .card__content {

    .team-panel {
      cursor: default;
      margin-top: 10px;
  
      mat-panel-title {
        font-size: 18px;
      }
  
      .team-panel__content {
        text-align: left;
        
        .members .member {
          
          .member__avatar {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 0 10px 0 0;
          }
  
          .member__info {
  
            .member__email {
              font-size: 11px;
            }
          }
        }
      }
      
    }

    .card__actions {
      margin: 10px 0 0; 
    }
  }
}