.form__container {
  
  .form__fields {

      .form__field {
          .mat-input-underline {
              bottom: auto;
          }
          .mat-input-subscript-wrapper {
              position: relative;
          }
      }
  }
}

@media screen and (min-width: $screen-gt-xs) {
  
  .form__container {
    
    .form__actions {
  
      .form__action {
        max-width: 300px;
      }
    }
  }
}