.form__container {
  max-width: 800px;

  .form__fields__row__container {

    .title {
      margin-top : 20px;
      color: $accent;

      .header {
        width: 100%;
        border-bottom: 1px solid $accent;
      }
    }

    &:first-child {

      .title {
        margin-top : 0;
      }
    }
  }

  .form__fields {

    .form__field {
      width: 100%;

      .mat-input-flex {
        //this is the input element

        .mat-input-placeholder-wrapper .mat-input-placeholder {
          color: #ffffff;
        }

        .mat-input-prefix mat-icon {
          margin-right: 5px;
        }

        .mat-input-suffix mat-icon {
          margin-left: 5px;
        }
      }
      
      .mat-input-underline {
        //this is the line below the input
        bottom: auto;
      }
      .mat-input-subscript-wrapper {
        //this is the errors zone
        position: relative;
      }

      &.mat-focused {

        .mat-input-flex {
          //this is the input element

          .mat-input-placeholder-wrapper .mat-input-placeholder {
            color: $purpleFonts;
            transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px);
          }
        }
      }

      //For sliders
      &.slider__field {

        .slider__label__hint {
          font-size: 75%;
        }
      }

      .slider__label {
        display: block;
        font-size: 10px;
      }
    }
  }

  .form__actions {
    height: 70px;  
  
    .fab, .progress-spinner {
      position: fixed;
      bottom: 20px;
      // left: 50%;
      // transform: translate(-50%, 0);
    }
  }
}

@media screen and (min-width: $screenGtSm) {
  
}