snack-bar-container.snack-bar--simple {
  background-color: $purple;
}

mat-chip {
  cursor: pointer;

  &.mat-chip-selected {
    cursor: default;
  }
}

mat-card .mat-card-title.mat-card-title--ac {
  font-size: 18px;
}

mat-tab-group mat-tab-body {
  margin-top: 10px;
}