

snack-bar-container {
  &.snack-bar--simple {
    background-color: $purple;
    color: $almostWhite;
  }

  &.snackbar--simple {
    padding : 10px;
    color: $almostWhite;
  }

  &.snackbar--success {
    background-color: $accent;
    color: $almostBlack;
  }

  &.snackbar--error {
    background-color: $warn;
  }

  &.snackbar--warn {
    background-color: $lightOrange;
    color: $almostBlack;
  }

  &.snackbar--info {
    background-color: $purple;
  }
}

mat-chip {
  cursor: pointer !important;

  &.mat-chip-selected {
    cursor: default !important;
  }
}

mat-card .mat-card-title.mat-card-title--ac {
  font-size: 18px;
}

mat-tab-group mat-tab-body {
  margin-top: 10px;
}