.table__container {
  
  .table__overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-table {
      
    .mat-column-invest, .mat-column-delete {
      flex: 0 0 40px;
      margin-left: 10px;
      align-self: center;
    }
    
    mat-header-row {
      
      .mat-column-invest, .mat-column-delete {
        text-align: center;
      }
    }
  }
}


