//Breakpoints
$screenGtXs: 600px;
$screenGtSm: 960px; 


//Colors
$primary: #7b1fa2;
$secondary: rgb(156, 39, 176);
$accent: #69f0ae;
$warn : #f44336;
$purple : $primary;
$purpleFonts : #C352F3;
$green: #28FE7C;
$red: #ff5271;
$lightOrange : rgba(255, 187, 0, 0.87);
$almostWhite : rgba(255,255,255,.87);
$almostBlack : rgba(0,0,0,.87);
$pink : #ff52b1;
$yellow : #e5ff52;
$orange : #ff9252;
$lightBlue : #52d7ff;
$black : #000000;
$grey : #999999;

// Fonts
$fontFamily: Roboto, "Helvetica Neue", sans-serif;
