/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/prebuilt-themes/purple-green.css'; //import material design theme
@import 'material';
@import 'forms';


body {
    color : #fff;
}

.color__green {
    color: $green;
}

.color__red {
    color: $red;
}