/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/prebuilt-themes/purple-green.css'; //import material design theme
@import 'material';
@import 'forms';


body {
    color: $almostWhite;

    &.mat-typography p {
        margin: 0;
    }
}

.ac__link {
    text-decoration: none;
}

.color__green {
    color: $green;
}

.color__red {
    color: $red;
}

.color__purple, .color__primary {
    color : $purple;
}

.color__purple--fonts {
    color : $purpleFonts;
}

.color__almost-white {
    color: $almostWhite;
}

.color__accent {
    color: $accent;
}

.color__secondary {
    color: $secondary
}

p {
    margin: 0;
}