/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/prebuilt-themes/purple-green.css'; //import material design theme
@import 'material';
@import 'forms';


body {
    color: rgba(255,255,255,.87);
}

.ac__link {
    text-decoration: none;
}

.color__green {
    color: $green;
}

.color__red {
    color: $red;
}

.color__almost-white {
    color: rgba(255,255,255,.87);
}