extends layout

include ../mixins/tests/_loginForm
include ../mixins/tests/_forgot

block content
    .inner
        if user
            pre= h.dump(user)

            form.form(action="/api/users/logout" method="GET")
                h2 Logout
                
                input.button(type="submit" value="Log out")

        else
            p Nobody is logged in currently