<mat-form-field fxFlex class="form__field">
  
  <input matInput type="text" [id]="id" [name]="id" [placeholder]="placeHolder" 
      [value]="value"
      [matAutocomplete]="addressAutocomplete"
      #addressInput
      >
  
  <mat-autocomplete autoActiveFirstOption #addressAutocomplete="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="autocompleteDisplayFn">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option.description }}
    </mat-option>
  </mat-autocomplete>  
  
</mat-form-field>