# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

####################################
# CLIENT
####################################
# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
client/node_modules


# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
client/typings

# e2e
client/e2e/*.js
client/e2e/*.map


###########################
# SERVER
###########################

# dependencies
node_modules

# variables
variables.env

# data
data/**/*
!data/data-handler.js

# Public folder
public/app/index.html
public/uploads/**/*.jpg
public/uploads/**/*.jpeg
public/uploads/**/*.png
public/uploads/**/*.bmp
public/uploads/**/*.gif