# See http://help.github.com/ignore-files/ for more about ignoring files.

####################################
# CLIENT
####################################
# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
/node_modules
client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
client/typings

# e2e
client/e2e/*.js
client/e2e/*.map

# System Files
.DS_Store
Thumbs.db


###########################
# SERVER
###########################

# dependencies
server/node_modules

# variables
server/variables.env

# Public folder
server/public/app/index.html
server/public/uploads/*