@import '../../../../../variables';

form {

  .form__actions {

    .progress-bar {
      width: 100%;
    }
  }
}

.form__edit-team {

  .form__actions--edit-team {
    margin: 20px 0;
  }
}

.progress-bar--get-team {
  width: 100%;
}

@media screen and (min-width: $screenGtXs) {
  
  form {
    
    .form__actions {
  
      .progress-bar {
        width: 88px;
      }
    }
  }

  .progress-bar--get-team {
    width: 300px;
  }
}