@import '../../../../../variables';

form {

  .form__actions {

    .progress-bar {
      width: 100%;
    }
  }
}

.form__edit-team {

  .form__actions--edit-team {
    margin: 20px 0;
  }
}

.members .member {
  padding: 14px;
  border-radius: 50px; 

  .member__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .member__info {
    
    .admin-icon {
      font-size: 14px;
      height: auto;
      width: auto;
    }

    .member__email {
      font-size: 11px;
    }
  }
}

.progress-bar--get-team {
  width: 100%;
}

@media screen and (min-width: $screenGtXs) {
  
  form {
    
    .form__actions {
  
      .progress-bar {
        width: 88px;
      }
    }
  }

  .progress-bar--get-team {
    width: 300px;
  }
}