doctype html
html(lang="en")
head
  title= `${h.siteName}`
  link(rel='stylesheet', href='/dist/style.css')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="utf-8")
  base(href="/app/")
  link(rel="icon" type="image/x-icon" href="/app/favicon.ico")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
  if locals.environment == 'production'
    link(href="/app/styles.bundle.css" rel="stylesheet")

  body.mat-app-background.mat-typography
    
    block content
  
    block scripts
      //- this are the server app js resources bundled by webpack in server
      script(src="/dist/App.bundle.js")
      //- these are all the client app resources
      script(type="text/javascript" src="/app/runtime.js")
      script(type="text/javascript" src="/app/polyfills.js")
      if locals.environment == 'development'
        script(type="text/javascript" src="/app/styles.js")
        script(type="text/javascript" src="/app/vendor.js")
      script(type="text/javascript" src="/app/main.js")
