<div class="calculator__container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between none">
  <!-- Form  -->
  <form class="form__container form__house-figures-calc" #houseFiguresForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" >
    <section fxLayout="column" fxLayoutGap="10px" class="form__fields">
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          Property value
        </h3>
  
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Purchase price -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="purchasePrice" name="purchasePrice" placeholder="Purchase price" 
                [(ngModel)]="model.purchasePrice" 
                numberValidator
                [value]="model.purchasePrice"
                #purchasePrice="ngModel">
            
            <mat-error *ngIf="purchasePrice.invalid && (purchasePrice.dirty || purchasePrice.touched) && purchasePrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
          
          <!-- Market value -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="marketValue" name="marketValue" placeholder="Market value" 
                [(ngModel)]="model.marketValue" 
                numberValidator
                [value]="model.marketValue"
                #marketValue="ngModel">

            <mat-error *ngIf="marketValue.invalid && (marketValue.dirty || marketValue.touched) && marketValue.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Capital growth -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="capitalGrowth" name="capitalGrowth" placeholder="Capital growth %" 
                [(ngModel)]="model.capitalGrowth" 
                numberValidator='{"min": 0, "max": 100}' 
                [value]="model.capitalGrowth"
                #capitalGrowth="ngModel">
            
            <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
            <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          Loan figures
        </h3>
      
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Loan coverage -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="loanCoverage" name="loanCoverage" placeholder="Loan coverage %" 
                [(ngModel)]="model.loanCoverage" 
                numberValidator='{"min": 0, "max": 100}' 
                [value]="model.loanCoverage"
                #loanCoverage="ngModel">
            
            <mat-hint align="start">Percentage of the purchase price covered by the loan.</mat-hint>
            <mat-error *ngIf="loanCoverage.invalid && (loanCoverage.dirty || loanCoverage.touched) && loanCoverage.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            <mat-error *ngIf="loanCoverage.invalid && (loanCoverage.dirty || loanCoverage.touched) && loanCoverage.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
            <mat-error *ngIf="loanCoverage.invalid && (loanCoverage.dirty || loanCoverage.touched) && loanCoverage.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
          </mat-form-field>
  
          <!-- Interest rates -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="interestRates" name="interestRates" placeholder="Interest rates %" 
                [(ngModel)]="model.interestRates" 
                numberValidator='{"min": 0, "max": 100}' 
                [value]="model.interestRates"
                #interestRates="ngModel">

            <mat-hint align="start">Average loan interest rates (as a percentage).</mat-hint>
            <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
            <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          Rent figures
        </h3>
      
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Weekly rent -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="weeklyRent" name="weeklyRent" placeholder="Weekly rent" 
                [(ngModel)]="model.weeklyRent" 
                numberValidator
                [value]="model.weeklyRent"
                #weeklyRent="ngModel">
  
            
            <mat-error *ngIf="weeklyRent.invalid && (weeklyRent.dirty || weeklyRent.touched) && weeklyRent.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Vacancy -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="vacancy" name="vacancy" placeholder="Vacancy" 
                [(ngModel)]="model.vacancy" 
                numberValidator
                [value]="model.vacancy"
                #vacancy="ngModel">
  
            <mat-hint align="start">The number of weeks per year with no rent.</mat-hint>
            <mat-error *ngIf="vacancy.invalid && (vacancy.dirty || vacancy.touched) && vacancy.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Rental manager -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="managed" name="managed" placeholder="Managed %" 
                [(ngModel)]="model.managed" 
                numberValidator='{"min": 0, "max": 100}' 
                [value]="model.managed"
                #managed="ngModel">
  
            <mat-hint align="start">Rental manager charges as a percentage of net annual rental income.</mat-hint>
            <mat-error *ngIf="managed.invalid && (managed.dirty || managed.touched) && managed.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            <mat-error *ngIf="managed.invalid && (managed.dirty || managed.touched) && managed.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
            <mat-error *ngIf="managed.invalid && (managed.dirty || managed.touched) && managed.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
          </mat-form-field>
        </div>
      </div>
        
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          Expenses
        </h3>
  
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Renovation cost -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="renovationCost" name="renovationCost" placeholder="Renovation cost" 
                [(ngModel)]="model.renovationCost" 
                [value]="model.renovationCost"
                numberValidator
                #renovationCost="ngModel">

                <mat-hint align="start">The cost to do all the renovations.</mat-hint>
                <mat-error *ngIf="renovationCost.invalid && (renovationCost.dirty || renovationCost.touched) && renovationCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Mantainance cost -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="mantainanceCost" name="mantainanceCost" placeholder="Mantainance cost" 
                [(ngModel)]="model.mantainanceCost" 
                [value]="model.mantainanceCost"
                numberValidator
                #mantainanceCost="ngModel">

                <mat-hint align="start">The annual cost to maintain the property.</mat-hint>
                <mat-error *ngIf="mantainanceCost.invalid && (mantainanceCost.dirty || mantainanceCost.touched) && mantainanceCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Body corporate -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="bodyCorporate" name="bodyCorporate" placeholder="Body corporate" 
                [(ngModel)]="model.bodyCorporate" 
                [value]="model.bodyCorporate"
                numberValidator
                #bodyCorporate="ngModel">
  
                <mat-error *ngIf="bodyCorporate.invalid && (bodyCorporate.dirty || bodyCorporate.touched) && bodyCorporate.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- House rates -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="houseRates" name="houseRates" placeholder="House rates" 
                [(ngModel)]="model.houseRates" 
                [value]="model.houseRates"
                numberValidator
                #houseRates="ngModel">
  
                <mat-error *ngIf="houseRates.invalid && (houseRates.dirty || houseRates.touched) && houseRates.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- utilities -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="utilities" name="utilities" placeholder="Utitities" 
                [(ngModel)]="model.utilities" 
                [value]="model.utilities"
                numberValidator
                #utilities="ngModel">
  
                <mat-hint align="start">Gas, water, electricity, internet, etc..</mat-hint>
                <mat-error *ngIf="utilities.invalid && (utilities.dirty || utilities.touched) && utilities.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Insurance -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="insurance" name="insurance" placeholder="Insurances" 
                [(ngModel)]="model.insurance" 
                [value]="model.insurance"
                numberValidator
                #insurance="ngModel">
  
                <mat-error *ngIf="insurance.invalid && (insurance.dirty || insurance.touched) && insurance.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
  
          <!-- Other costs -->
          <mat-form-field fxFlex  class="form__field">
            <input matInput type="number" id="otherCosts" name="otherCosts" placeholder="Other costs" 
                [(ngModel)]="model.otherCosts" 
                [value]="model.otherCosts"
                numberValidator
                #otherCosts="ngModel">

                <mat-hint align="start">Any other cost to have in mind not declared in the previous fields.</mat-hint>
                <mat-error *ngIf="otherCosts.invalid && (otherCosts.dirty || otherCosts.touched) && otherCosts.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
  </form>
  
  <!-- Results -->
  <section fxLayout="column" fxLayoutGap="10px" fxFlex fxFlex.gt-sm="300px" class="calculator__results">
    <mat-card>
      <mat-card-title class="mat-card-title--ac">Results</mat-card-title>

      <mat-card-content fxLayout="column" fxLayoutGap="10px">

        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip
                title="Gross yield" 
                text="Ratio between Gross annual rent / purchase price (as percentage)"
                position="right"></info-tooltip>
            <span>{{grossYield | percent : '1.1-2'}}</span>
          </div>
  
          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip 
                title="Net yield" 
                text="Ratio between (Net annual rent - Expenses) / Purchase price * 100"
                position="right"></info-tooltip>
            <span>{{netYield | percent : '1.1-2'}}</span>
          </div>

        </div>
        
        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Gross annual rent" text="Rent a week * 52"></info-tooltip>
            <span>{{grossAnnualRent | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>
  
          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Net annual rent" text="Gross annual rent - Vacancy"></info-tooltip>
            <span>{{netAnnualRent | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

        </div>
        
        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Expenses" 
                text="Sums all the expenses in detailed before"></info-tooltip>
            <span>{{expenses | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Loan interest" 
                text="The interest of the loan based in the specified interest rate."></info-tooltip>
            <span>{{loanInterest | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

        </div>

        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Pre tax cashflow" text="Net annual rent - Expenses - Loan interest"></info-tooltip>
            <span>{{preTaxCashflow | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Discount"></info-tooltip>
            <span>{{discount | percent : '1.1-2'}}</span>
          </div>

        </div>

        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Total 1 year return" text="Capital growth + Market value - Purchase price - Renovations + Pre tax cashflow"></info-tooltip>
            <span>{{totalFirstYearReturn | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Deposit" text=""></info-tooltip>
            <span>{{deposit | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

        </div>

        <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayout.gt-sm="column" 
            fxLayoutGap.xs="10px"fxLayoutGap.gt-xs="50px" fxLayoutGap.gt-sm="10px"
            fxLayoutAlign.xs="start none" fxLayoutAlign.gt-xs="space-between none" fxLayoutAlign.gt-sm="start none">

          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Return on deposit" text="Ratio between Total 1st year return / Deposit * 100"></info-tooltip>
            <span>{{returnOnDeposit | percent : '1.1-2'}}</span>
          </div>
          
          <div fxFlex.xs="none" fxFlex.gt-xs fxFlex.gt-sm="none" fxLayout="row" fxLayoutAlign="space-between center">
            <info-tooltip title="Capital growth" text=""></info-tooltip>
            <span>{{capitalGrowths | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </section>
</div>