files:
  /home/ec2-user/retrieve-letsencrypt-and-certbot-config.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash

      # check if any of the files deploy with ebextensions exists and proceed with the script if not.
      # this is to make sure this script is only run only when a brand new EC2 Instance is launched by Elastic Beanstalk.
      # This will guarantee high availability when a spot instance is taken by Amazon and a new one is assigned to us.
      # /home/ec2-user/backup_logs.sh is a random file generated with ebextensions, nothing special with it.
      if [[ -f "/home/ec2-user/backup_logs.sh" ]]; then
          echo "This instance is already setup. Exit script."
          exit 0;
      fi

      aws s3 cp s3://atomicoconut/infrastructure/conf-certbot.zip conf-certbot.zip
      sudo rm -rf conf www
      unzip conf-certbot.zip
      rm conf-certbot.zip


commands:
  01-retrieve-letsencrypt-and-certbot-config:
    # run commands as ec2-user instead of root (default)
    command: sudo -H -u ec2-user bash -c './retrieve-letsencrypt-and-certbot-config.sh'
    cwd: /home/ec2-user
  02-remove-retrieve-letsencrypt-and-certbot-config-script:
    command: sudo -H -u ec2-user bash -c 'rm retrieve-letsencrypt-and-certbot-config.sh'
    cwd: /home/ec2-user
  