files:
  /home/ec2-user/setup-crontab.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      
      # check if any of the files deploy with ebextensions exists and proceed with the script if not.
      # this is to make sure this script is only run only when a brand new EC2 Instance is launched by Elastic Beanstalk.
      # This will guarantee high availability when a spot instance is taken by Amazon and a new one is assigned to us.
      # /home/ec2-user/backup_logs.sh is a random file generated with ebextensions, nothing special with it.
      if [[ -f "/home/ec2-user/backup_logs.sh" ]]; then
          echo "This instance is already setup. Exit script."
          exit 0;
      fi

      # get environment type from elasticbeanstalk env vars
      ENVIRONMENT_TYPE=`sudo /opt/elasticbeanstalk/bin/get-config environment | jq .ENVIRONMENT_TYPE | tr -d '"'`
      # write out current crontab
      crontab -l > mycron
      # echo new cron into cron file
      # check https://crontab.guru/#0_8_*_*_*
      echo "0 0 * * 4 sh backup_certbot_certs.sh elasticbeanstalk-ap-southeast-2-782522910439 $ENVIRONMENT_TYPE" >> mycron
      echo "0 */6 * * * sh reload_nginx.sh $ENVIRONMENT_TYPE" >> mycron
      echo "0 1 * * * sh backup_database.sh elasticbeanstalk-ap-southeast-2-782522910439 $ENVIRONMENT_TYPE" >> mycron
      echo "*/2 * * * * sh backup_logs.sh elasticbeanstalk-ap-southeast-2-782522910439 $ENVIRONMENT_TYPE" >> mycron
      # install new cron file
      crontab mycron
      # removed the created file
      rm mycron


commands:
  01-setup-crontab:
    command: sudo -H -u ec2-user bash -c './setup-crontab.sh'
    cwd: /home/ec2-user
    ignoreErrors: true
  02-remove-setup-crontab-script:
    command: sudo -H -u ec2-user bash -c 'rm setup-crontab.sh'
    cwd: /home/ec2-user
    ignoreErrors: true
  