files:
  /home/ec2-user/setup-complete.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      
      # check if instance setup with ebextensions already run or not.
      # this is to make sure this script is only run only when a brand new EC2 Instance is launched by Elastic Beanstalk.
      # This will guarantee high availability when a spot instance is taken by Amazon and a new one is assigned to us.
      if [[ -f "/home/ec2-user/setup_complete" ]]; then
          echo "This instance is already setup. Exit script."
          exit 0;
      fi

      # create setup complete file
      echo "true" >> setup_complete


commands:
  01-setup-complete:
    command: sudo -H -u ec2-user bash -c './setup-complete.sh'
    cwd: /home/ec2-user
    ignoreErrors: true
  02-remove-setup-complete-script:
    command: sudo -H -u ec2-user bash -c 'rm setup-complete.sh'
    cwd: /home/ec2-user
    ignoreErrors: true
  