<div fxLayout="column" fxLayoutGap="10px" class="container__properties-table">
  <section class="table__container" [fxShow]="!getPropertiesServiceRunning && properties.length > 0" fxLayout="column" fxLayoutGap="10px">
    <div class="table__overlay" *ngIf="propertyTableActionRunning">
        <mat-spinner color="warn"></mat-spinner>
    </div>

    <!-- Table fliter -->
    <mat-form-field class="table-filter__input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <mat-table #propertiesTable [dataSource]="propertiesDataSource" matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="selection.select(element); goToPropertyEdit(element);">{{element.address.description}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="invest">
        <mat-header-cell *matHeaderCellDef>Invest</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" 
              routerLink="/investments/property/create/{{element.id}}" 
              [disabled]="user.email !== element.createdBy.email"
              [matTooltip]="user.email !== element.createdBy.email ? 'Only the creator (' + element.createdBy.name + ') can perform this action' : ''"
              matTooltipPosition="left"
              (click)="propertyTableActionRunning = true">
            <mat-icon aria-label="Create investment">trending_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let element; let propertyIndex = index;">
          <button mat-mini-fab color="warn" 
              [disabled]="user.email !== element.createdBy.email"
              [matTooltip]="user.email !== element.createdBy.email ? 'Only the creator (' + element.createdBy.name + ') can perform this action' : ''"
              matTooltipPosition="left"
              (click)="openDeleteTeamDialog(propertyIndex, element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{ 'selected': selection.isSelected(row)}"></mat-row>
    </mat-table>
  </section>
  <mat-paginator [fxShow]="!getPropertiesServiceRunning && properties.length > 0" #propertiesPaginator 
      [pageSize]="25" 
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[25, 50, 100]">
  </mat-paginator>
  
  <section *ngIf="!getPropertiesServiceRunning && properties.length == 0" fxLayout="column" fxLayoutGap="10px">
    <mat-card fxFlex class="no-properties__card">
      <mat-card-content fxLayout="column" fxLayoutGap="10px"
          fxLayoutAlign="space-around center">
        <p>You do not have any property yet.</p>
      </mat-card-content>
    </mat-card>
    
  </section>
  
  <progress-bar class="progress-bar--get-properties" *ngIf="getPropertiesServiceRunning"
      color="primary"
      message="Loading properties...">
  </progress-bar>
  
</div>