@import '../../../../../variables';

.table__container {

  .table-filter__input {
    margin: 0 24px;
  }

  mat-table {
    
    mat-row mat-cell {
      &.status {
        border-left: solid 10px;
        border-color: transparent;
      }

      &.status_agent_contacted {
        border-color: $pink;
      }

      &.status_viewing_arranged {
        border-color: $lightOrange;
      }

      &.status_viewed {
        border-color: $orange;
      }

      &.status_negotiating {
        border-color: $warn;
      }

      &.status_backup_offer {
        border-color: $lightBlue;
      }
      
      &.status_conditional {
        border-color: $accent;
      }
      
      &.status_unconditional {
        border-color: $green;
      }
      &.status_owned {
        border-color: $secondary;
      }
      &.status_discarded {
        border-color: $grey;
      }

    }

    mat-header-row {
      
      .mat-column-invest, .mat-column-delete {
        text-align: center;
      }
    }

    .mat-column-address, .mat-column-unit {
      cursor: pointer;
    }

    .mat-column-unit {
      flex: 0 0 40px;
      margin-right: 10px;
    }

    .mat-column-invest, .mat-column-delete {
      flex: 0 0 40px;
      margin-left: 10px;
      align-self: center;
    }

    .mat-row.selected {
      background: $accent;
  
      .mat-column-address {
        color: rgba(0,0,0,.87);
      }
    }

  }
}

.no-properties__card {
  text-align: center;

  mat-card-content {
    
    p {
      margin-bottom: 0;
    }
  }
}

.progress-bar--get-properties {
  width: 80%;
  margin: 0 24px;
}

@media screen and (min-width: $screenGtXs) {

  .table-filter__input {
    margin: 0;
  }

  .progress-bar--get-properties {
    width: 300px;
    margin: 0;
  }
}