<!-- SM and higher view -->
<mat-tab-group *ngIf="utilService.isGtXs()">
  <mat-tab label="Account info">
    <account-user-info></account-user-info>
  </mat-tab>
  <mat-tab label="Personal info">
    <account-personal-info></account-personal-info>
  </mat-tab>
  <mat-tab label="Financial info">
    <account-finance-info [user]="user"></account-finance-info>
  </mat-tab>
</mat-tab-group>

<!-- XS view -->
<mat-accordion *ngIf="utilService.isXs()">  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Account info
    </mat-expansion-panel-header>

    <account-user-info></account-user-info>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Personal info
    </mat-expansion-panel-header>

    <account-personal-info></account-personal-info>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Financial info
    </mat-expansion-panel-header>

    <account-finance-info [user]="user"></account-finance-info>
  </mat-expansion-panel>

</mat-accordion>