.currency-card {
  //width: 250px;

  .header-image {
    background-size: cover;

    &.header-image__xmr {
      background-image: url('/assets/images/xmr.png'); 
    }

    &.header-image__btc {
      background-image: url('/assets/images/btc.png'); 
    }
  }
}