<div class="currency-box">
  <div class="currency-box__contents">
    <h3>Moneros ({{cryptoCurrencyCount}})</h3> 
    today at <strong>{{cryptoCurrencyCurrentPrice | currency}}</strong>
    <br><br>

    Investment: <strong>{{usdFromCryptoCurrencyWhenBought | currency }}</strong> 
    <br>

    on {{cryptoCurrencyBuyDate | date}} at {{cryptoCurrencyBuyPrice | currency}}

    <div [class.color__green]="usdFromCryptoCurrency >= usdFromCryptoCurrencyWhenBought" 
        [class.color__red]="usdFromCryptoCurrency < usdFromCryptoCurrencyWhenBought">
      <br>
      ROI: <strong>{{ usdFromCryptoCurrency | currency }}</strong> ({{usdFromCryptoCurrency / usdFromCryptoCurrencyWhenBought * 100 | number : '1.1-2'}}%)
    </div>
  </div>
</div>