<h2 mat-dialog-title>Create investment</h2>

<mat-dialog-content>
  <mat-button-toggle-group fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" class="selector__investment-type" (change)="onChange($event)" #investmentTypesGroup>
    <mat-button-toggle class="option__investment-type" value="currency" matTooltip="Currency exchange" routerLink="investments/currency/create"
        [matTooltipPosition]="utilService.isXs() ? 'right' : 'below'">
      <img src="/assets/images/exchange.png" alt="currency" />
    </mat-button-toggle>
    <mat-button-toggle class="option__investment-type" value="cryptocurrency" matTooltip="Crypto currency" routerLink="investments/crypto/create"
        [matTooltipPosition]="utilService.isXs() ? 'right' : 'below'">
      <img src="/assets/images/cryptocurrency.png" alt="Crypto currency" />
    </mat-button-toggle>
    <mat-button-toggle class="option__investment-type" value="property" matTooltip="Property" routerLink="investments/property/create"
        [matTooltipPosition]="utilService.isXs() ? 'right' : 'below'">
      <img src="/assets/images/house.png" alt="Property" />
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-dialog-content>
