<mat-card class="currency-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
        <img [src]="'/assets/images/' + investment.type + '/' + investment.unit + '.png'" [alt]="investment.type" />
    </div>
    <mat-card-title>{{investment.unit}} ({{investment.amount}})</mat-card-title>
    <mat-card-subtitle>
      today at <strong>{{currentPrice | currency : 'USD' : false : '1.2-2'}}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
    Investment: <strong>{{usdValueWhenBought | currency }}</strong> 
    <br>

    on {{investment.buyingDate | date}} at {{investment.buyingPrice | currency}}

    <div [class.color__accent]="currentUsdValue >= usdValueWhenBought" 
        [class.color__red]="currentUsdValue < usdValueWhenBought">
      <br>
      ROI: <strong>{{ currentUsdValue | currency }}</strong> ({{currentUsdValue / usdValueWhenBought * 100 | number : '1.1-2'}}%)
    </div>

    <section class="actions" fxLayout="row" fxLayoutAlign="end none" fxLayoutGap="10px">
      <button *ngIf="!actionRunning" mat-mini-fab routerLink="/investments/crypto/edit/{{investment.id}}" color="primary" (click)="actionRunning = true">
        <mat-icon aria-label="Edit Investment">edit</mat-icon>
      </button>

      <button *ngIf="!actionRunning" mat-mini-fab color="warn" (click)="openDeleteDialog()">
        <mat-icon aria-label="Delete investment">delete</mat-icon>
      </button>

      <mat-progress-spinner *ngIf="actionRunning"
        class="progress-spinner progress-spinner--action"
        color="warn"
        [diameter]="40" [strokeWidth]="7"
        mode="indeterminate">
      </mat-progress-spinner>
    </section>
  </mat-card-content>
</mat-card>