<div fxLayout="column" fxLayoutGap="10px" class="container__investments">
  <section *ngIf="!getInvestmentsServiceRunning && investments.length > 0" fxLayout="column" fxLayoutGap="10px">
    
    <div *ngFor="let row of investmentsUI" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
      <div *ngFor="let investment of row" fxFlex fxFlex.gt-xs="50">
        <currency-investment *ngIf="investment.type === INVESTMENTS_TYPES.CURRENCY || investment.type === INVESTMENTS_TYPES.CRYPTO"
          [investment]="investment"
          [teams]="teams"
          (totalReturns)="setTotals($event)"
          (deletedInvestment)="removeInvestment($event)">
        </currency-investment>

        <property-investment *ngIf="investment.type === INVESTMENTS_TYPES.PROPERTY"
          [investment]="investment"
          [teams]="teams"
          (totalReturns)="setTotals($event)"
          (deletedInvestment)="removeInvestment($event)">
        </property-investment>
      </div>
      
    </div>

    <mat-card fxFlex class="totals__card">
      <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <!-- Totals -->
        <div *ngIf="!myTotals.checked" fxFlex fxFlex.xs="none" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
          <p>Total investments: <strong>{{totalInvestment | currency : 'USD' : 'code' : '1.2-2' }}</strong></p>
          <p [class.color__accent]="totalReturn >= totalInvestment" 
              [class.color__red]="totalReturn < totalInvestment">
            Total ROI: <strong>{{ totalReturn | currency : 'USD' : 'code' : '1.2-2' }}</strong> ({{totalReturn / totalInvestment * 100 | number : '1.1-2'}}%)
          </p>
        </div>

        <!-- My totals -->
        <div *ngIf="myTotals.checked" fxFlex fxFlex.xs="none" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
          <p>My total investments: <strong>{{myTotalInvestment | currency : 'USD' : 'code' : '1.2-2' }}</strong></p>
          <p [class.color__accent]="myTotalReturn >= myTotalInvestment" 
              [class.color__red]="myTotalReturn < myTotalInvestment">
            My total ROI: <strong>{{ myTotalReturn | currency : 'USD' : 'code' : '1.2-2' }}</strong> ({{myTotalReturn / myTotalInvestment * 100 | number : '1.1-2'}}%)
          </p>
        </div>

        <!-- Totals switcher -->
        <mat-slide-toggle fxFlexAlign.xs="center" color="accent" class="form__field form__field__toogle" [checked]="false" #myTotals>
          My totals
        </mat-slide-toggle>

      </mat-card-content>
    </mat-card>

  </section>

  <section *ngIf="!getInvestmentsServiceRunning && investments.length == 0" fxLayout="column" fxLayoutGap="10px">
    <mat-card fxFlex class="no-investments__card">
      <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
          fxLayoutAlign="space-around center">
        <p> You do not have investments yet.</p>
      </mat-card-content>
    </mat-card>
    
  </section>

  <progress-bar fxFlexAlign="center" class="progress-bar--get-investments" *ngIf="getInvestmentsServiceRunning"
      color="primary"
      message="Loading your investments...">
  </progress-bar>

  <section fxLayout="column" fxLayoutAlign="start end" class="actions">
    <button mat-fab class="fab mat-elevation-z10" color="primary" matTooltip="Create new investment" matTooltipPosition="left" (click)="openNewInvestmentDialog()">
      <mat-icon aria-label="Create new investemt">add</mat-icon>
    </button>
  </section>
</div>