<!--The content below is only a placeholder and can be replaced.-->
<div class="inner mat-typography">

  <md-toolbar class="toolbar" color="primary">
    <a class="toolbar__brand-name color__almost-white" routerLink="/"><span>AtomiCoconut</span></a>
    <span class="example-spacer"></span>
    
    <span *ngIf="!usersService.user" fxLayoutAlign=" center">
      <md-icon routerLink="/users/login" class="toolbar__icon">account_circle</md-icon>
    </span>
    <span *ngIf="usersService.user" fxLayoutAlign=" center">
      <img *ngIf="usersService.user.avatar" 
          [mdMenuTriggerFor]="userMenu" 
          class="toolbar__icon user__avatar" 
          [src]="usersService.user.avatar" 
      />
      <md-icon *ngIf="!usersService.user.avatar"
          class="toolbar__icon user__icon--logged-in" 
          [mdMenuTriggerFor]="userMenu">
        account_circle
      </md-icon>
      
      <md-menu class="user__menu--logged-in" #userMenu="mdMenu" [overlapTrigger]="false">
        <button md-menu-item routerLink="/users/account">
          <md-icon>settings</md-icon>
          <span>My account</span>
        </button>
        <button md-menu-item (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          <span>Logout</span>
        </button>
      </md-menu>
    </span>
    
  </md-toolbar>
  <router-outlet></router-outlet>
</div>