@import '../variables';

.toolbar__primary {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  .toolbar__brand-name {
    text-decoration: none;
  }

  .toolbar__icon {
    padding: 0 10px;
    cursor: pointer;
  }

  .user__avatar {
    border-radius: 50%;
    width: 30px;
    padding: 0 10px;
  }

  .user__icon--logged-in {
    color: $green;
  }
}

.toolbar__primary__spacer {
  height: 54px;
}

.toolbar__secondary {
  margin-bottom: 10px;
  background-color: $secondary;
  font-size: 12px;
  height: 30px;
}

/* Chip navigation */
::ng-deep nav.navigation--main {
  margin-bottom: 20px;
}

@media screen and (min-width: $screenGtXs) {
  
  .toolbar__primary__spacer {
    height: 62px;
  }
  
}
