@import '../variables';

.toolbar {
  margin-bottom: 10px;
  
  .toolbar__brand-name {
    text-decoration: none;
  }

  .toolbar__icon {
    padding: 0 10px;
    cursor: pointer;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .user__avatar {
    border-radius: 50%;
    width: 30px;
    padding: 0 10px;
  }

  .user__icon--logged-in {
    color: $green;
  }
}

::ng-deep nav.navigation--main {
  margin-bottom: 20px;
}
