<div [formGroup]="form" [ngSwitch]="question.controlType">
  
  <md-input-container *ngSwitchCase="'textbox'" class="example-full-width">
    <input mdInput [type]="question.type" [id]="question.key" [placeholder]="question.label" [formControlName]="question.key">
    <md-error *ngIf="!isValid && form.get(question.key).hasError('required')">{{question.label}} is required</md-error>
    <md-error *ngIf="!isValid && form.get(question.key).hasError('minlength')">{{question.label}} must contains at least {{form.get(question.key).errors.minlength.requiredLength}} characters</md-error>
    <md-error *ngIf="!isValid && form.get(question.key).hasError('maxlength')">{{question.label}} must contains {{form.get(question.key).errors.maxlength.requiredLength}} or less characters</md-error>
    <md-error *ngIf="!isValid && form.get(question.key).hasError('email')">{{question.label}} must be a valid email address</md-error>
  </md-input-container>
  <!-- <pre>{{form.get(question.key).errors | json}}</pre> -->

  <md-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" [placeholder]="question.label">
    <md-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</md-option>
  </md-select>

</div> 