<form class="form__container form__edit-house" #editHouseForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px">
  <section fxLayout="column" fxLayoutGap="10px" class="form__fields">

    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <h3 class="title">
        <p class="header">Features</p>
      </h3>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Building type -->
        <mat-form-field fxFlex class="form__field">
          <mat-select id="buildingType" name="buildingType" placeholder="Building type" [value]="model.buildingType" [(ngModel)]="model.buildingType">
            <mat-option value="house">House</mat-option>
            <mat-option value="apartment">Apartment</mat-option>
            <mat-option value="unit">Unit</mat-option>
          </mat-select>

          <mat-icon matPrefix>home</mat-icon>
        </mat-form-field>
        
        <!-- Title type -->
        <mat-form-field fxFlex class="form__field">
          <mat-select id="titleType" name="titleType" placeholder="Title type" [value]="model.titleType" [(ngModel)]="model.titleType">
            <mat-option value="feeSimple">Fee simple</mat-option>
            <mat-option value="crossLease">Cross lease</mat-option>
            <mat-option value="leaseHold">Lease hold</mat-option>
          </mat-select>

          <mat-icon matPrefix>description</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Land area -->
        <mat-form-field fxFlex  class="form__field">
          <input matInput type="number" id="landArea" name="landArea" placeholder="Land area" 
              [(ngModel)]="model.landArea" 
              [value]="model.landArea"
              numberValidator
              #landArea="ngModel">
              
          <span matSuffix>m2</span>
          <mat-hint align="start">Land area in square meters.</mat-hint>
          <mat-error *ngIf="landArea.invalid && (landArea.dirty || landArea.touched) && landArea.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
        </mat-form-field>

        <!-- Floor area -->
        <mat-form-field fxFlex  class="form__field">
          <input matInput type="number" id="floorArea" name="floorArea" placeholder="Floor area" 
              [(ngModel)]="model.floorArea" 
              [value]="model.floorArea"
              numberValidator
              #floorArea="ngModel">
              
          <span matSuffix>m2</span>
          <mat-hint align="start">Floor area in square meters.</mat-hint>
          <mat-error *ngIf="floorArea.invalid && (floorArea.dirty || floorArea.touched) && floorArea.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Bedrooms -->
        <mat-form-field fxFlex fxFlex.gt-xs="140px" fxFlex.gt-md="200px" class="form__field">
          <input matInput type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms" 
              [(ngModel)]="model.bedrooms" 
              [value]="model.bedrooms"
              numberValidator
              #bedrooms="ngModel">
              
          <mat-icon matPrefix>hotel</mat-icon>
          <mat-error *ngIf="bedrooms.invalid && (bedrooms.dirty || bedrooms.touched) && bedrooms.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
        </mat-form-field>

        <!-- Bathrooms -->
        <mat-form-field fxFlex fxFlex.gt-xs="140px" fxFlex.gt-md="200px" class="form__field">
          <input matInput type="number" id="bathrooms" name="bathrooms" placeholder="Bathrooms" 
              [(ngModel)]="model.bathrooms" 
              [value]="model.bathrooms"
              numberValidator
              #bathrooms="ngModel">

          <mat-icon matPrefix>airline_seat_legroom_reduced</mat-icon>
          <mat-error *ngIf="bathrooms.invalid && (bathrooms.dirty || bathrooms.touched) && bathrooms.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
        </mat-form-field>

        <!-- Parking spaces -->
        <mat-form-field fxFlex fxFlex.gt-xs="140px" fxFlex.gt-md="200px" class="form__field">
          <input matInput type="number" id="parkingSpaces" name="parkingSpaces" placeholder="Parking spaces" 
              [(ngModel)]="model.parkingSpaces" 
              [value]="model.parkingSpaces"
              numberValidator
              #parkingSpaces="ngModel">
              
          <mat-icon matPrefix>directions_car</mat-icon>
          <mat-error *ngIf="parkingSpaces.invalid && (parkingSpaces.dirty || parkingSpaces.touched) && parkingSpaces.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
        </mat-form-field>

        <!-- Fenced? -->
        <div fxFlex class="form__field">
          <mat-checkbox id="fenced" name="fenced" class=""
              labelPosition="before"
              [(ngModel)]="model.fenced">
            Fenced?
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <h3 class="title">
        <p class="header">Rent information</p>
      </h3>
    
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Rent price -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'rentPriceUnit'" 
              [value]="model.rentPriceUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
            <input matInput type="number" id="rentPrice" name="rentPrice" placeholder="Rent price"
                [(ngModel)]="model.rentPrice" 
                [value]="model.rentPrice"
                numberValidator
                #rentPrice="ngModel">
            
            <mat-error *ngIf="rentPrice.invalid && (rentPrice.dirty || rentPrice.touched) && rentPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>

        <!-- Rent payment period -->
        <mat-form-field fxFlex class="form__field">
          <mat-select id="rentPricePeriod" name="rentPricePeriod" placeholder="Payment frecuency" [value]="model.rentPricePeriod" [(ngModel)]="model.rentPricePeriod">
            <mat-option value="weekly">per week</mat-option>
            <mat-option value="monthly">per month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Managed? -->
        <div fxFlex class="form__field">
          <mat-slide-toggle class="" id="managed" name="managed"
              color="accent"
              [checked]="model.managed"
              (change)="onSlideToggleChange($event)">
            Managed?
          </mat-slide-toggle>
        </div>

        <!-- Manager rate -->
        <div fxFlex="none" fxFlex.gt-xs fxLayout="column" class="form__field">
          <label class="slider__label">Manager rate</label>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-slider fxFlex id="managerRate" name="managerRate"
                color="accent"
                [max]="20"
                [min]="0"
                [step]="1"
                [disabled]="!model.managed"
                thumbLabel="true"
                tickInterval="1"
                [(ngModel)]="model.managerRate"
                [value]="model.managerRate"> 
            </mat-slider>
            <span *ngIf="model.managerRate">{{model.managerRate}}%</span>
          </div>
        </div>

        <!-- Address -->
        <mat-form-field fxFlex class="form__field">
          <input matInput type="text" id="agent" name="agent" placeholder="Agent" 
              [(ngModel)]="model.agent"
              [value]="model.agent"
              #agent="ngModel">

          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Vacancy -->
        <div fxFlex="none" fxFlex.gt-xs="250px" fxLayout="column" class="form__field">
          <label class="slider__label">Vacancy</label>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-slider fxFlex id="vacancy" name="vacancy"
                color="accent"
                [max]="20"
                [min]="0"
                [step]="1"
                thumbLabel="true"
                tickInterval="1"
                [(ngModel)]="model.vacancy"
                [value]="model.vacancy"> 
            </mat-slider>
            <span *ngIf="model.vacancy">{{model.vacancy}} weeks</span>
          </div>
        </div>

        <!-- Rent appraisal done? -->
        <div fxFlex class="form__field">
          <mat-checkbox id="rentAppraisalDone" name="rentAppraisalDone" class=""
              labelPosition="before"
              [(ngModel)]="model.rentAppraisalDone">
            Rent appraisal done?
          </mat-checkbox>
        </div>

        <!-- Rented? -->
        <div fxFlex class="form__field">
          <mat-checkbox id="rented" name="rented" class=""
              labelPosition="before"
              [(ngModel)]="model.rented">
            Rented?
          </mat-checkbox>
        </div>
      </div>
    </div>
    
    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <h3 class="title">
        <p class="header">Additional information</p>
      </h3>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Registered value -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'registeredValueUnit'" 
              [value]="model.registeredValueUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
            <input matInput type="number" id="registeredValue" name="registeredValue" placeholder="Registered value"
                [(ngModel)]="model.registeredValue" 
                [value]="model.registeredValue"
                numberValidator
                #registeredValue="ngModel">
            
            <mat-hint align="start">The value an independent valuator gives to the house based on the recent sales in the area.</mat-hint>
            <mat-error *ngIf="registeredValue.invalid && (registeredValue.dirty || registeredValue.touched) && registeredValue.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>

        <!-- Capital growth -->
        <mat-form-field fxFlex fxFlex.sm="140px" fxFlex.gt-sm="200px" class="form__field">
          <input matInput type="number" id="capitalGrowth" name="capitalGrowth" placeholder="Capital growth" 
              [(ngModel)]="model.capitalGrowth" 
              [value]="model.capitalGrowth"
              numberValidator='{"min": 0, "max": 100}' 
              #capitalGrowth="ngModel">
          
          <mat-icon matPrefix>trending_up</mat-icon>
          <span matSuffix>%</span>
          <mat-hint align="start">Annual capital growth percentage for owning the property.</mat-hint>
          <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
          <mat-error *ngIf="capitalGrowth.invalid && (capitalGrowth.dirty || capitalGrowth.touched) && capitalGrowth.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
        </mat-form-field>
      </div>
    </div>
    
    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <h3 class="title">
        <p class="header">Living costs</p>
      </h3>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Body corporate -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'bodyCorporateUnit'" 
              [value]="model.bodyCorporateUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
            <input matInput type="number" id="bodyCorporate" name="bodyCorporate" placeholder="Body corporate"
                [(ngModel)]="model.bodyCorporate" 
                [value]="model.bodyCorporate"
                numberValidator
                #bodyCorporate="ngModel">
            
            <mat-hint align="start">The bodyCorporate rates this property pays annually.</mat-hint>
            <mat-error *ngIf="bodyCorporate.invalid && (bodyCorporate.dirty || bodyCorporate.touched) && bodyCorporate.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>

        <!-- Utilities -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'utilitiesCostUnit'" 
              [value]="model.utilitiesCostUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
            <input matInput type="number" id="utilitiesCost" name="utilitiesCost" placeholder="Utilities"
                [(ngModel)]="model.utilitiesCost" 
                [value]="model.utilitiesCost"
                numberValidator
                #utilitiesCost="ngModel">
            
            <mat-hint align="start">Electricity, water, gas, internet, ...</mat-hint>
            <mat-error *ngIf="utilitiesCost.invalid && (utilitiesCost.dirty || utilitiesCost.touched) && utilitiesCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>

        <!-- Rates -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'ratesUnit'" 
              [value]="model.ratesUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
            <input matInput type="number" id="rates" name="rates" placeholder="Rates"
                [(ngModel)]="model.rates" 
                [value]="model.rates"
                numberValidator
                #rates="ngModel">
            
            <mat-hint align="start">The rates this property pays annually.</mat-hint>
            <mat-error *ngIf="rates.invalid && (rates.dirty || rates.touched) && rates.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Insurance -->
        <div fxLayout="row" fxLayoutGap="10px">
          <currency-unit fxFlex="50px"
              [id]="'insuranceUnit'" 
              [value]="model.insuranceUnit"
              [view]="'narrow'"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>
          
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
            <input matInput type="number" id="insurance" name="insurance" placeholder="Insurance"
                [(ngModel)]="model.insurance" 
                [value]="model.insurance"
                numberValidator
                #insurance="ngModel">
            
            <mat-hint align="start">Annual insurance price for the house.</mat-hint>
            <mat-error *ngIf="insurance.invalid && (insurance.dirty || insurance.touched) && insurance.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>

</form>