

<h2 mat-dialog-title>Share with...</h2>

<mat-dialog-content>
  <div fxLayout="column" class="container__add-person-to-team">
    <form class="form__container form__add-person-to-team" #addPersonToTeamForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px">
      
      <section fxLayout="column" class="form__fields">
        <div fxLayout="column" class="form__fields__row">
          <!-- Member email -->
          <mat-form-field fxFlex class="form__field">
            <input matInput type="tezt" id="email" name="email" placeholder="Member email" 
                [(ngModel)]="model.email"
                required 
                email
                #email="ngModel">

            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.email">Email must be a valid email address</mat-error>
          </mat-form-field>
        </div>
      </section>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <button mat-mini-fab color="warn" mat-dialog-close>
    <mat-icon aria-label="Cancel">clear</mat-icon>
  </button>
  <button mat-mini-fab color="accent" [mat-dialog-close]="email.value || null" [disabled]="!addPersonToTeamForm.form.valid">
    <mat-icon aria-label="Add">done</mat-icon>
  </button>
</mat-dialog-actions>