@import '../../../../../variables';

form {
  
  .field__password .icon__suffix, .field__password-confirm .icon__suffix {
    cursor: pointer;
  }

  .form__actions {
      
    .fab, .progress-spinner {
      position: relative;
    }

    .fab {
      transform: translate(-50%, 0);
      right: auto;
      left: 50%;
    }

    .progress-spinner {
      left: -28%;
    }
  }
}

@media screen and (min-width: $screenGtXs) {
  
}