@import '../../../../../variables';

form {
  
  .field__password .icon__suffix, .field__password-confirm .icon__suffix {
    cursor: pointer;
  }

  .form__actions {

    .progress-bar {
      width: 100%;
    }
  }
}

@media screen and (min-width: $screenGtXs) {
  
  form {
    
    .form__actions {
  
      .progress-bar {
        width: 127px;
      }
    }
  }
}