<div class="container__reset" fxLayout="column" fxLayoutAlign="none none" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center none" fxLayoutGap="10px">
  <form class="form__container form__reset" #resetForm="ngForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column" fxLayoutGap="10px" >
    <section fxLayout="column" fxLayoutGap="10px" class="form__fields">      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Password -->
          <mat-form-field fxFlex fxFlex.gt-xs="450px" class="form__field field__password">
            <input matInput [type]="showPassword ? 'text' : 'password'" id="password" name="password" placeholder="Password" 
                [(ngModel)]="model.password" 
                required minlength="3" maxlength="8" equalvalidator="passwordConfirm" reverse="true"
                #password="ngModel">

            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-icon class="icon__suffix" matSuffix matTooltip="Show password" *ngIf="!showPassword" (click)="showPassword = true">visibility</mat-icon>
            <mat-icon class="icon__suffix" matSuffix matTooltip="Hide password" *ngIf="showPassword" (click)="showPassword = false">visibility_off</mat-icon>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">Password is required</mat-error>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.minlength">Password must be longer than 3 characters</mat-error>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.maxlength">Password must be shorter than 8 characters</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Password confirm -->
          <mat-form-field class="form__field field__password-confirm">
            <input matInput [type]="showPassword ? 'text' : 'password'" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm password" 
                [(ngModel)]="model['password-confirm']" 
                required minlength="3" maxlength="8" equalvalidator="password"
                #passwordConfirm="ngModel">
            
            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-icon class="icon__suffix" matSuffix matTooltip="Show password" *ngIf="!showPassword" (click)="showPassword = true">visibility</mat-icon>
            <mat-icon class="icon__suffix" matSuffix matTooltip="Hide password" *ngIf="showPassword" (click)="showPassword = false">visibility_off</mat-icon>
            <mat-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched) && passwordConfirm.errors.required">Confirm password is required</mat-error>
            <mat-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched) && passwordConfirm.errors.minlength">Confirm password must be longer than 3 characters</mat-error>
            <mat-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched) && passwordConfirm.errors.maxlength">Confirm password must be shorter than 8 characters</mat-error>
            <mat-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched) && passwordConfirm.errors.equalvalidator">Confirm password must match password</mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>

    <section class="form__actions form__actions--reset"
        fxLayout="row" fxFlexAlign="end" fxFlexAlign.gt-xs="center"
        fxLayoutGap="10px">
        
      <button mat-fab  
          class="fab mat-elevation-z10 form__action" 
          color="accent" 
          type="submit"
          matTooltip="Save changes" matTooltipPosition="left" 
          [disabled]="!resetForm.form.valid">
        <mat-icon aria-label="Save changes">save</mat-icon>
      </button>
    </section>
  </form>
</div>