<mat-card class="currency-card">
  <mat-card-header>
    <div mat-card-avatar 
        class="header-image"
        [class.header-image__xmr]="cryptoCurrency === 'xmr'"
        [class.header-image__btc]="cryptoCurrency === 'btc'">
    </div>
    <mat-card-title>{{cryptoCurrency === 'xmr' ? 'Monero' : 'Bitcoin' }} ({{cryptoCurrencyCount}})</mat-card-title>
    <mat-card-subtitle>
      today at <strong>{{cryptoCurrencyCurrentPrice | currency}}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
    Investment: <strong>{{usdFromCryptoCurrencyWhenBought | currency }}</strong> 
    <br>

    on {{cryptoCurrencyBuyDate | date}} at {{cryptoCurrencyBuyPrice | currency}}

    <div [class.color__accent]="usdFromCryptoCurrency >= usdFromCryptoCurrencyWhenBought" 
        [class.color__red]="usdFromCryptoCurrency < usdFromCryptoCurrencyWhenBought">
      <br>
      ROI: <strong>{{ usdFromCryptoCurrency | currency }}</strong> ({{usdFromCryptoCurrency / usdFromCryptoCurrencyWhenBought * 100 | number : '1.1-2'}}%)
    </div>

    <section class="actions" fxLayout="row" fxLayoutAlign="end none" fxLayoutGap="10px">
      <button *ngIf="!actionRunning" mat-mini-fab routerLink="/investments/crypto/edit/{{id}}" color="primary" (click)="actionRunning = true">
        <mat-icon aria-label="Edit Investment">edit</mat-icon>
      </button>

      <button *ngIf="!actionRunning" mat-mini-fab color="warn" (click)="openDeleteDialog()">
        <mat-icon aria-label="Delete investment">delete</mat-icon>
      </button>

      <mat-progress-spinner *ngIf="actionRunning"
        class="progress-spinner progress-spinner--action"
        color="warn"
        [diameter]="40" [strokeWidth]="7"
        mode="indeterminate">
      </mat-progress-spinner>
    </section>
  </mat-card-content>
</mat-card>