.currency-card {
  text-align: center;

  .header-image {
    background-size: cover;

    &.header-image__xmr {
      background-image: url('/assets/images/xmr.png'); 
    }

    &.header-image__btc {
      background-image: url('/assets/images/btc.png'); 
    }
  }

  .card__content {

    .actions {
      margin: 0 8px 8px 0; 
    }
  }
}