@import '../../../../../variables';

.aco-link-list .aco-link { 
  height: auto;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.members .member {
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 50px;
  cursor: default;

  .member__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .member__info {
    
    .icon__admin {
      font-size: 14px;
      height: auto;
      width: auto;
    }

    .member__email {
      font-size: 11px;
    }
  }

    
  .icon__remove-member {
    font-size: 16px;
    height: auto;
    width: auto;
    cursor: pointer;
  }

  &.not-saved-yet {
    
    .member__avatar--default {
      font-size: 40px;
      color : $warn;
    }
  }
}

.progress-bar--get-property, 
.progress-bar--open-dialog {
  width: 100%;
}

.actions {

  .mini-fab, .progress-spinner--open-dialog {
    bottom: 75px;
  }
}

@media screen and (min-width: $screenGtXs) {

  .progress-bar--get-property {
    width: 300px;
  }

  .progress-bar--open-dialog {
    width: 150px;
  }
}