<div class="container__edit-property" fxLayout="column" fxLayoutAlign="none none" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center none" fxLayoutGap="10px">
  <!-- Form  -->
  <form *ngIf="!getPropertyServiceRunning" class="form__container form__edit-property" (ngSubmit)="editMode ? onUpdate() : onSubmit()" #editPropertyForm="ngForm" 
      novalidate fxLayout="column" fxLayoutGap="10px">
    
    <section fxLayout="column" fxLayoutGap="10px" class="form__fields">
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Basic info</p>
        </h3>
  
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Address -->
          <address-autocomplete fxFlex
              [id]="'address'" 
              [defaultValues]="model.address"
              [placeHolder]="'Address'"
              (values)="onAddressChange($event)">
          </address-autocomplete>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Map -->
          <dynamic-map *ngIf="model.address && model.address.latitude && model.address.longitude"
              fxFlex [latitude]="model.address.latitude" [longitude]="model.address.longitude" [markers]="[model.address]" [mapContainerHeight]="300"></dynamic-map>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Photos -->
          <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Description -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="description" name="description" placeholder="Description"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.description" 
                value="model.description"
                #description="ngModel">
            </textarea>

            <mat-icon matPrefix>subject</mat-icon>
          </mat-form-field>
        </div>
      </div>
  
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Pricing information</p>
        </h3>
      
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Asking price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'askingPriceUnit'" 
                [value]="model.askingPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="askingPrice" name="askingPrice" placeholder="Asking price"
                  [(ngModel)]="model.askingPrice" 
                  [value]="model.askingPrice"
                  numberValidator
                  #askingPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="askingPrice.invalid && (askingPrice.dirty || askingPrice.touched) && askingPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
          
          <!-- Offer price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'offerPriceUnit'" 
                [value]="model.offerPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="offerPrice" name="offerPrice" placeholder="Offer price"
                  [(ngModel)]="model.offerPrice" 
                  [value]="model.offerPrice"
                  numberValidator
                  #offerPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="offerPrice.invalid && (offerPrice.dirty || offerPrice.touched) && offerPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- Walk away price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'walkAwayPriceUnit'" 
                [value]="model.walkAwayPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="walkAwayPrice" name="walkAwayPrice" placeholder="Walk away price"
                  [(ngModel)]="model.walkAwayPrice" 
                  [value]="model.walkAwayPrice"
                  numberValidator
                  #walkAwayPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="walkAwayPrice.invalid && (walkAwayPrice.dirty || walkAwayPrice.touched) && walkAwayPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Purchase price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'purchasePriceUnit'" 
                [value]="model.purchasePriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="purchasePrice" name="purchasePrice" placeholder="Purchase price"
                  [(ngModel)]="model.purchasePrice" 
                  [value]="model.purchasePrice"
                  numberValidator
                  #purchasePrice="ngModel">
              
              <mat-error *ngIf="purchasePrice.invalid && (purchasePrice.dirty || purchasePrice.touched) && purchasePrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- More prices btn -->
          <div fxLayout="row" fxLayoutGap="10px">
            <button *ngIf="!showPropertyYieldsDialogSpinner" fxFlex
                mat-raised-button type="button" color="primary" class="color__almost-white"
                matTooltip="Set different potencial prices to see how gross and net yield fluctuates"
                (click)="showPropertyYieldsDialogSpinner = true; openPropertyYieldsDialog()">
              More prices/yields
            </button>

            <progress-bar *ngIf="showPropertyYieldsDialogSpinner" class="progress-bar--open-dialog"
              color="warn">
            </progress-bar>

            <!-- <mat-progress-spinner *ngIf="showPropertyYieldsDialogSpinner"
                class="progress-spinner progress-spinner--open-dialog"
                color="warn"
                [diameter]="40" [strokeWidth]="7"
                mode="indeterminate">
            </mat-progress-spinner> -->
          </div>

          <!-- Market value -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'marketValueUnit'" 
                [value]="model.marketValueUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="marketValue" name="marketValue" placeholder="Market value"
                  [(ngModel)]="model.marketValue" 
                  [value]="model.marketValue"
                  numberValidator
                  #marketValue="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="marketValue.invalid && (marketValue.dirty || marketValue.touched) && marketValue.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Costs</p>
        </h3>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Reno cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'renovationCostUnit'" 
                [value]="model.renovationCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="renovationCost" name="renovationCost" placeholder="Renovation cost"
                  [(ngModel)]="model.renovationCost" 
                  [value]="model.renovationCost"
                  numberValidator
                  #renovationCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="renovationCost.invalid && (renovationCost.dirty || renovationCost.touched) && renovationCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- Maintenance cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'maintenanceCostUnit'" 
                [value]="model.maintenanceCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="maintenanceCost" name="maintenanceCost" placeholder="Maintenance cost"
                  [(ngModel)]="model.maintenanceCost" 
                  [value]="model.maintenanceCost"
                  numberValidator
                  #maintenanceCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched) && maintenanceCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
          
          <!-- Other cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'otherCostUnit'" 
                [value]="model.otherCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.md="140px" fxFlex.gt-md="200px" class="form__field">
              <input matInput type="number" id="otherCost" name="otherCost" placeholder="Other cost"
                  [(ngModel)]="model.otherCost" 
                  [value]="model.otherCost"
                  numberValidator
                  #otherCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="otherCost.invalid && (otherCost.dirty || otherCost.touched) && otherCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Other information</p>
        </h3>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Date listed -->
          <mat-form-field fxFlex fxFlex.gt-xs="100px" class="form__field">
            <input placeholder="Listing date"
                id="dateListed"
                name="dateListed"
                readonly
                #dateListed="ngModel"
                matInput 
                [(ngModel)]="model.dateListed" 
                [matDatepicker]="pickerDateListed"
                (click)="pickerDateListed.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerDateListed"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="utilService.isGtSm() ? false : true" #pickerDateListed></mat-datepicker>
            <mat-error *ngIf="dateListed.invalid && (dateListed.dirty || dateListed.touched) && dateListed.errors.matDatepickerParse">Buying date is invalid or not follows the pattern "mm/dd/yyyy"</mat-error>
          </mat-form-field>
  
          <!-- Reason for selling -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="reasonForSelling" name="reasonForSelling" placeholder="Reason for selling"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.reasonForSelling" 
                value="model.reasonForSelling"
                #reasonForSelling="ngModel">
            </textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Notes -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="notes" name="notes" placeholder="Other notes"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.notes" 
                value="model.notes"
                #notes="ngModel">
            </textarea>

            <mat-icon matPrefix>subject</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <houses-edit *ngIf="type === propertyTypes.HOUSE" 
            [defaultValues]="model.propertyTypeData"
            [defaultCurrencyUnit]="user.currency"
            (values)="onPropertyTypeDataChange($event)">
        </houses-edit>
      </div>
    </section>

    <section class="form__actions form__actions--edit-property"
        fxLayout="column" fxLayout.gt-sm="row"  
        fxLayoutGap="10px">
      
      <button mat-fab *ngIf="!editPropertyServiceRunning" 
          class="fab mat-elevation-z10 form__action" 
          color="accent" 
          type="submit"
          matTooltip="Save changes" matTooltipPosition="left" 
          [disabled]="!(editPropertyForm.form.valid && includedFormsValid())">
        <mat-icon aria-label="Save changes">save</mat-icon>
      </button>
      
      <mat-progress-spinner *ngIf="editPropertyServiceRunning"
          class="progress-spinner progress-spinner--edit-property"
          color="accent"
          [diameter]="55" [strokeWidth]="10"
          mode="indeterminate">
      </mat-progress-spinner>
    </section>
  </form>

  <!-- Figures -->
  <section *ngIf="!getPropertyServiceRunning" fxHide.lt-md="true" fxLayout="column" fxLayoutGap="10px" fxFlex="300px" class="house-figures-results">
    <mat-card>
      <mat-card-content>
        <!-- Missing required data from -->
        <form class="form__container form__house-figures-results" #houseFiguresResultsForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" >
          <section fxLayout="column" fxLayoutGap="10px" class="form__fields">
            <div fxLayout="column" fxLayoutGap="10px" class="form__fields__row__container">
              <h3 class="title">
                <p class="header">Additional values</p>
                <p class="mat-caption">This information it is not saved in the database, play with these values to evaluate a potencial investment</p>
              </h3>

              <div fxLayout="column" fxLayoutGap="10px" class="form__fields__row">
                <!-- Loan coverage -->
                <div fxFlex="none" fxLayout="column" class="form__field slider__field">
                  <label class="slider__label">Loan coverage</label>
                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-slider fxFlex id="loanCoverage" name="loanCoverage"
                        color="accent"
                        [max]="100"
                        [min]="0"
                        [step]="1"
                        thumbLabel="true"
                        tickInterval="1"
                        [(ngModel)]="modelHouseFiguresResults.loanCoverage"
                        [value]="modelHouseFiguresResults.loanCoverage"> 
                    </mat-slider>
                    <span *ngIf="modelHouseFiguresResults.loanCoverage">{{modelHouseFiguresResults.loanCoverage}}%</span>
                  </div>
                  <label class="mat-hint slider__label__hint">Percentage of the purchase price covered by the loan.</label>
                </div>

                <!-- Loan term -->
                <div fxFlex="none" fxLayout="column" class="form__field slider__field">
                  <label class="slider__label">Term</label>
                  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-slider fxFlex id="loanTerm" name="loanTerm"
                        color="accent"
                        [max]="30"
                        [min]="1"
                        [step]="1"
                        thumbLabel="true"
                        tickInterval="1"
                        [(ngModel)]="modelHouseFiguresResults.loanTerm"
                        [value]="modelHouseFiguresResults.loanTerm"> 
                    </mat-slider>
                    <span *ngIf="modelHouseFiguresResults.loanTerm">{{modelHouseFiguresResults.loanTerm}} years</span>
                  </div>
                </div>

                <!-- Interest rates -->
                <mat-form-field fxFlex class="form__field">
                  <input matInput type="number" id="interestRates" name="interestRates" placeholder="Interest rates" 
                      [(ngModel)]="modelHouseFiguresResults.interestRates" 
                      numberValidator='{"min": 0, "max": 100}' 
                      [value]="modelHouseFiguresResults.interestRates"
                      #interestRates="ngModel">

                  <mat-icon matPrefix>timeline</mat-icon>
                  <span matSuffix>%</span>
                  <mat-hint align="start">Average loan interest rates (as a percentage).</mat-hint>
                  <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
                  <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
                  <mat-error *ngIf="interestRates.invalid && (interestRates.dirty || interestRates.touched) && interestRates.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
                </mat-form-field>

                <!-- Payment frecuency -->
                <mat-form-field fxFlex class="form__field">
                  <mat-select id="paymentFrecuency" name="paymentFrecuency" placeholder="Frecuency" 
                      [(ngModel)]="modelHouseFiguresResults.paymentFrecuency" [value]="modelHouseFiguresResults.paymentFrecuency">
                    <mat-option value="12">Monthly</mat-option>
                    <mat-option value="26">Fornightly</mat-option>
                    <mat-option value="52">Weekly</mat-option>
                  </mat-select>
                  
                  <mat-hint align="start">Payment frecuency</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </section>
        </form>
      </mat-card-content>
    </mat-card>

    <house-figures-results 
      title="Property figures"
      subtitle="This figures asumes that all of the currency inputs in the form are in the same unit"
      [purchasePrice]="model.purchasePrice || model.offerPrice || model.askingPrice || model.walkAwayPrice || 0"
      [capitalGrowth]="model.propertyTypeData.capitalGrowth || 0"
      [marketValue]="model.marketValue"
      [loanCoverage]="modelHouseFiguresResults.loanCoverage"
      [interestRates]="modelHouseFiguresResults.interestRates"
      [loanTerm]="modelHouseFiguresResults.loanTerm"
      [paymentFrecuency]="modelHouseFiguresResults.paymentFrecuency"
      [rentPrice]="model.propertyTypeData.rentPrice"
      [rentPaymentFrecuency]="model.propertyTypeData.rentPricePeriod"
      [vacancy]="model.propertyTypeData.vacancy"
      [renovationCost]="model.renovationCost"
      [maintenanceCost]="model.maintenanceCost"
      [bodyCorporate]="model.propertyTypeData.bodyCorporate"
      [houseRates]="model.propertyTypeData.rates"
      [utilities]="model.propertyTypeData.utilitiesCost"
      [insurance]="model.propertyTypeData.insurance"
      [otherCosts]="model.otherCost"
      [managed]="model.propertyTypeData.managed ? model.propertyTypeData.managerRate : 0">
    </house-figures-results>
  </section>
  <!-- <pre>{{model | json}}</pre> -->

  <progress-bar class="progress-bar--get-property" *ngIf="getPropertyServiceRunning"
      color="primary"
      message="Loading property info...">
  </progress-bar>

  <section *ngIf="!getPropertyServiceRunning" 
      fxLayout="column" 
      fxHide.gt-sm="true" 
      class="actions">
    
    <button mat-mini-fab class="mini-fab mat-elevation-z10" color="primary" *ngIf="!showPropertyFiguresDialogSpinner"
        matTooltip="Show figures" matTooltipPosition="left" 
        (click)="showPropertyFiguresDialogSpinner = true; openHouseResultsFiguresDialog()">
      <mat-icon aria-label="Show property figures">attach_money</mat-icon>
    </button>

    <mat-progress-spinner *ngIf="showPropertyFiguresDialogSpinner"
        class="progress-spinner progress-spinner--open-dialog"
        color="warn"
        [diameter]="40" [strokeWidth]="7"
        mode="indeterminate">
    </mat-progress-spinner>
  </section>
</div>