<div class="container__edit-property" fxLayout="column" fxLayoutAlign="none none" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center none" fxLayoutGap="10px">
  <!-- Form  -->
  <form *ngIf="!getPropertyServiceRunning" class="form__container form__edit-property" (ngSubmit)="editMode ? onUpdate() : onSubmit()" #editPropertyForm="ngForm" 
      novalidate fxLayout="column" fxLayoutGap="10px">
    <section fxLayout="column" fxLayoutGap="10px" class="form__fields">

      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Basic info</p>
        </h3>
  
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Address -->
          <address-autocomplete fxFlex
              [id]="'address2'" 
              [defaultValues]="model.addressData"
              [placeHolder]="'Address'"
              
              (newValue)="onAddressDataChange($event)">
          </address-autocomplete>

          <!-- <mat-form-field fxHide fxFlex class="form__field">
            <input matInput type="text" id="address" name="address" placeholder="Address" 
                [(ngModel)]="model.address" 
                required
                [value]="model.address"
                #address="ngModel">
            
            <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.errors.required">This field is required.</mat-error>
          </mat-form-field> -->
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Description -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="description" name="description" placeholder="Description"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.description" 
                value="model.description"
                #description="ngModel">
            </textarea>
          </mat-form-field>
        </div>
      </div>
  
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Pricing information</p>
        </h3>
      
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Asking price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'askingPriceUnit'" 
                [value]="model.askingPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="askingPrice" name="askingPrice" placeholder="Asking price"
                  [(ngModel)]="model.askingPrice" 
                  [value]="model.askingPrice"
                  numberValidator
                  #askingPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="askingPrice.invalid && (askingPrice.dirty || askingPrice.touched) && askingPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
          
          <!-- Offer price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'offerPriceUnit'" 
                [value]="model.offerPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="offerPrice" name="offerPrice" placeholder="Offer price"
                  [(ngModel)]="model.offerPrice" 
                  [value]="model.offerPrice"
                  numberValidator
                  #offerPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="offerPrice.invalid && (offerPrice.dirty || offerPrice.touched) && offerPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- Walk away price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'walkAwayPriceUnit'" 
                [value]="model.walkAwayPriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="walkAwayPrice" name="walkAwayPrice" placeholder="Walk away price"
                  [(ngModel)]="model.walkAwayPrice" 
                  [value]="model.walkAwayPrice"
                  numberValidator
                  #walkAwayPrice="ngModel">
              
              <mat-hint align="start">The price the owner ask for sell the house.</mat-hint>
              <mat-error *ngIf="walkAwayPrice.invalid && (walkAwayPrice.dirty || walkAwayPrice.touched) && walkAwayPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Sale price -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'salePriceUnit'" 
                [value]="model.salePriceUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="salePrice" name="salePrice" placeholder="Sale price"
                  [(ngModel)]="model.salePrice" 
                  [value]="model.salePrice"
                  numberValidator
                  #salePrice="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="salePrice.invalid && (salePrice.dirty || salePrice.touched) && salePrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- Market value -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'marketValueUnit'" 
                [value]="model.marketValueUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="marketValue" name="marketValue" placeholder="Market value"
                  [(ngModel)]="model.marketValue" 
                  [value]="model.marketValue"
                  numberValidator
                  #marketValue="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="marketValue.invalid && (marketValue.dirty || marketValue.touched) && marketValue.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Costs</p>
        </h3>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Reno cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'renovationCostUnit'" 
                [value]="model.renovationCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="renovationCost" name="renovationCost" placeholder="Renovation cost"
                  [(ngModel)]="model.renovationCost" 
                  [value]="model.renovationCost"
                  numberValidator
                  #renovationCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="renovationCost.invalid && (renovationCost.dirty || renovationCost.touched) && renovationCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>

          <!-- Maintenance cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'maintenanceCostUnit'" 
                [value]="model.maintenanceCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="maintenanceCost" name="maintenanceCost" placeholder="Maintenance cost"
                  [(ngModel)]="model.maintenanceCost" 
                  [value]="model.maintenanceCost"
                  numberValidator
                  #maintenanceCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched) && maintenanceCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
          
          <!-- Other cost -->
          <div fxLayout="row" fxLayoutGap="10px">
            <currency-unit fxFlex="50px"
                [id]="'otherCostUnit'" 
                [value]="model.otherCostUnit"
                [view]="'narrow'"
                (newValue)="onCurrencyUnitChange($event)">
            </currency-unit>
            
            <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
              <input matInput type="number" id="otherCost" name="otherCost" placeholder="Other cost"
                  [(ngModel)]="model.otherCost" 
                  [value]="model.otherCost"
                  numberValidator
                  #otherCost="ngModel">
              
              <mat-hint align="start">Last sale price.</mat-hint>
              <mat-error *ngIf="otherCost.invalid && (otherCost.dirty || otherCost.touched) && otherCost.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      
      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <h3 class="title">
          <p class="header">Other information</p>
        </h3>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Date listed -->
          <mat-form-field fxFlex fxFlex.gt-xs="100px" class="form__field">
            <input placeholder="Listing date"
                id="dateListed"
                name="dateListed"
                readonly
                #dateListed="ngModel"
                matInput 
                [(ngModel)]="model.dateListed" 
                [matDatepicker]="pickerDateListed"
                (click)="pickerDateListed.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerDateListed"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="utilService.isGtSm() ? false : true" #pickerDateListed></mat-datepicker>
            <mat-error *ngIf="dateListed.invalid && (dateListed.dirty || dateListed.touched) && dateListed.errors.matDatepickerParse">Buying date is invalid or not follows the pattern "mm/dd/yyyy"</mat-error>
          </mat-form-field>
  
          <!-- Reason for selling -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="reasonForSelling" name="reasonForSelling" placeholder="Reason for selling"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.reasonForSelling" 
                value="model.reasonForSelling"
                #reasonForSelling="ngModel">
            </textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
          <!-- Notes -->
          <mat-form-field fxFlex class="form__field">
            <textarea matInput id="notes" name="notes" placeholder="Other notes"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                [(ngModel)]="model.notes" 
                value="model.notes"
                #notes="ngModel">
            </textarea>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
        <houses-edit *ngIf="type === propertyTypes.HOUSE" 
            [defaultValues]="model.propertyTypeData"
            [defaultCurrencyUnit]="user.currency"
            (values)="onPropertyTypeDataChange($event)">
        </houses-edit>
      </div>
    </section>

    <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="center center" class="form__actions form__actions--edit-property">
      <button *ngIf="!editPropertyServiceRunning" 
          class="form__action mat-raised-button" 
          mat-raised-button 
          type="submit" 
          color="accent" 
          [disabled]="!editPropertyForm.form.valid || !propertyTypeDataValid">Save</button>
      
      <mat-progress-bar *ngIf="editPropertyServiceRunning"
          class="progress-bar progress-bar--edit-property"
          color="primary"
          mode="indeterminate">
      </mat-progress-bar>
    </section>
  </form>
  <!-- <pre>{{model | json}}</pre> -->

  <mat-progress-bar *ngIf="getPropertyServiceRunning"
      fxFlexAlign="center"
      class="progress-bar progress-bar--get-property"
      color="primary"
      mode="indeterminate">
  </mat-progress-bar>
</div>