<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <app-crypto-currency fxFlex 
      [cryptoCurrency]="'xmr'"
      [cryptoCurrencyCount]="218"
      [cryptoCurrencyBuyPrice]="50"
      [cryptoCurrencyBuyDate]="xmrBuyDate"
      (totalReturns)="setTotals($event)">
    </app-crypto-currency>

    <app-crypto-currency fxFlex
      [cryptoCurrency]="'btc'"
      [cryptoCurrencyCount]="1.28129356"
      [cryptoCurrencyBuyPrice]="2359.99"
      [cryptoCurrencyBuyDate]="btcBuyDate"
      (totalReturns)="setTotals($event)">
    </app-crypto-currency>
  </div>

  <md-card fxFlex class="totals-card">
    <md-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
        fxLayoutAlign="space-around center">
      <p>Total Investments: <strong>{{totalInvestment | currency }}</strong></p>
      <p [class.color__green]="totalReturn >= totalInvestment" 
          [class.color__red]="totalReturn < totalInvestment">
        Total ROI: <strong>{{ totalReturn | currency }}</strong> ({{totalReturn / totalInvestment * 100 | number : '1.1-2'}}%)
      </p>
    </md-card-content>
  </md-card>
  
</div>
