app-crypto-currency {
  margin: 0 10px 10px 0;
}

.totals-card {
  margin: 0 10px 10px 0;

  .header-image {
    background-size: cover;

    &.header-image__totals {
      background-image: url('/assets/images/equals.jpg'); 
    }
  }
}