<mat-form-field class="form__field">
  <mat-select *ngIf="type === 'currency'" id="{{id}}" placeholder="{{placeHolder}}" value="{{value}}" (change)="onChange($event)">
    <mat-option value="AUD">{{view === 'narrow' ? 'AUD' : 'Australian Dollar'}}</mat-option>
    <mat-option value="EUR">{{view === 'narrow' ? 'EUR' : 'Euro'}}</mat-option>
    <mat-option value="NZD">{{view === 'narrow' ? 'NZD' : 'New Zealand Dollar'}}</mat-option>
    <mat-option value="USD">{{view === 'narrow' ? 'USD' : 'US Dollar'}}</mat-option>
  </mat-select>

  <mat-select *ngIf="type === 'crypto'" id="{{id}}" placeholder="{{placeHolder}}" value="{{value}}" (change)="onChange($event)">
    <mat-option value="BTC">{{view === 'narrow' ? 'BTC' : 'Bitcoin'}}</mat-option>
    <mat-option value="XMR">{{view === 'narrow' ? 'XMR' : 'Monero'}}</mat-option>
  </mat-select>
  
  <mat-hint align="start">{{hint}}</mat-hint>
</mat-form-field>