<section fxLayout="column" fxLayoutGap="10px">
  <div class="calculators__container" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
      <mat-card matRipple class="calculator__card" fxFlex.gt-xs="50" 
          [routerLink]="utilService.getRoutingPath('CALCULATORS') + '/equity'">
        <mat-card-header>
          <mat-icon mat-card-avatar>monetization_on</mat-icon>
          <mat-card-title>Equity</mat-card-title>
          <mat-card-subtitle>Check you equity status</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      
      <mat-card matRipple class="calculator__card" fxFlex.gt-xs="50" 
          [routerLink]="utilService.getRoutingPath('CALCULATORS') + '/house-figures'">
        <mat-card-header>
          <mat-icon mat-card-avatar>house</mat-icon>
          <mat-card-title>House figures</mat-card-title>
          <mat-card-subtitle>Calculate different property figures</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</section>