<form class="form__container form__edit-property-investment" #editPropertyInvestmentForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px">
  
  <mat-progress-bar *ngIf="getPropertyServiceRunning"
    class="progress-bar progress-bar--get-property"
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
  
  <section *ngIf="!getPropertyServiceRunning" fxLayout="column" fxLayoutGap="10px" class="form__fields">
    
    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Address -->
        <mat-form-field fxFlex class="form__field address__field">
          <input matInput type="text" id="property" name="property" placeholder="Property" 
              [(ngModel)]="model.address.description" 
              required
              readonly
              [value]="model.address.description"
              #property="ngModel"
              (click)="openPropertySelectionDialog()">
          
          <mat-icon matPrefix>home</mat-icon>
          <button mat-button matSuffix mat-icon-button aria-label="Choose property..." (click)="openPropertySelectionDialog()">
            <mat-icon>view_list</mat-icon>
          </button>
              
          <mat-error *ngIf="property.invalid && (property.dirty || property.touched) && property.errors.required">This field is required.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" class="form__fields__row__container">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="start center" class="form__fields__row">
        <!-- Buying date -->
        <mat-form-field fxFlex fxFlex.gt-xs="100px" class="form__field">
          <input placeholder="Buying date"
              id="buyingDate"
              name="buyingDate"
              readonly
              required
              #buyingDate="ngModel"
              matInput 
              [(ngModel)]="model.buyingDate" 
              [matDatepicker]="pickerBuyingDate"
              (click)="pickerBuyingDate.open()">
          <mat-datepicker-toggle matSuffix [for]="pickerBuyingDate"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="utilService.isGtSm() ? false : true" #pickerBuyingDate></mat-datepicker>
          <mat-error *ngIf="buyingDate.invalid && (buyingDate.dirty || buyingDate.touched) && buyingDate.errors.required">Buying date is required.</mat-error>
          <mat-error *ngIf="buyingDate.invalid && (buyingDate.dirty || buyingDate.touched) && buyingDate.errors.matDatepickerParse">Buying date is invalid or not follows the pattern "mm/dd/yyyy"</mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px">
          <!-- Buying price unit -->
          <currency-unit fxFlex="50px"
              [id]="'buyingPriceUnit'" 
              [view]="'narrow'"
              [value]="model.buyingPriceUnit"
              (newValue)="onCurrencyUnitChange($event)">
          </currency-unit>

          <!-- Buying price -->
          <mat-form-field fxFlex fxFlex.sm="120px" fxFlex.gt-sm="200px" class="form__field">
            <input matInput type="number" id="buyingPrice" name="buyingPrice" placeholder="Price"
                [(ngModel)]="model.buyingPrice" 
                [value]="model.buyingPrice"
                numberValidator 
                required
                #buyingPrice="ngModel">
            <mat-hint align="start">Price on buying date.</mat-hint>
            <mat-error *ngIf="buyingPrice.invalid && (buyingPrice.dirty || buyingPrice.touched) && buyingPrice.errors.required">Buying price is required.</mat-error>
            <mat-error *ngIf="buyingPrice.invalid && (buyingPrice.dirty || buyingPrice.touched) && buyingPrice.errors.numberValidator">Value must be numeric, with no more than two decimal digits</mat-error>
          </mat-form-field>
        </div>
        
      </div>
    </div>
  </section>
</form>
