@import '../../../../../variables';

.totals__card, .no-investments__card {
  text-align: center;

  md-card-content p {
    margin-bottom: 0;
  }
}

.progress-bar--get-investments {
  width: 100%;
}

@media screen and (min-width: $screenGtXs) {

  .progress-bar--get-investments {
    width: 300px;
  }
}