@import '../../../../../variables';

form {

  .form__actions {
    height: auto;
  
    .fab, .progress-spinner {
      position: relative;
    }
  }
}

.form__login {

  .field__password .icon__suffix {
    cursor: pointer;
  }
}

@media screen and (min-width: $screenGtXs) {
  
}