@import '../../../../../variables';

form {

  .form__actions {

    .progress-bar {
      width: 100%;
    }
  }
}

.form__login {

  .form__actions--login { }

  .form__actions--create-account {
    margin: 20px 0;
  }
}

.form__forgot {
  margin-top: 50px;
}

@media screen and (min-width: $screen-gt-xs) {
  
  form {
    
    .form__actions {
  
      .progress-bar {
        width: 88px;
      }
    }
  }
}