<form class="form__container" (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" >
  
  <section fxLayout="column" class="form__fields">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" class="form__fields__row">
      <!-- Email -->
      <md-input-container fxFlex class="form__field">
        <input mdInput type="email" id="email" name="email" placeholder="Email address" 
            [(ngModel)]="model.email" 
            required email
            #email="ngModel">
  
        <md-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">Email is required</md-error>
        <md-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.email">Email must be a valid email address</md-error>
      </md-input-container>
      
      <!-- Password -->
      <md-input-container fxFlex class="form__field">
        <input mdInput type="password" id="password" name="password" placeholder="Password" 
            [(ngModel)]="model.password" 
            required minlength="3" maxlength="8"
            #password="ngModel">
  
        <md-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">Password is required</md-error>
        <md-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.minlength">Password must be longer than 3 characters</md-error>
        <md-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.maxlength">Password must be shorter than 8 characters</md-error>
      </md-input-container>
    </div>
  </section>

  <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="center center" class="form__actions">
    <button class="form__action mat-raised-button" md-raised-button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    <md-checkbox fxLayoutAlign.xs="center center" class="form__action" [(ngModel)]="forgotModel.forgot" name="forgot" id="forgot">Forgot my password</md-checkbox>
  </section>

  <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="center center" class="form__actions">
    <a class="color__almost-white ac__link" routerLink="/users/register">Create an account</a>
  </section>

</form>

<form class="form__container form__forgot" (ngSubmit)="onForgotSubmit()" #forgotForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" *ngIf="forgotModel.forgot">
  
  <section fxLayout="column" class="form__fields">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" class="form__fields__row">
      <!-- Email -->
      <md-input-container fxFlex class="form__field">
        
        <input mdInput type="email" id="emailForgot" name="emailForgot" placeholder="Email address" 
            [(ngModel)]="forgotModel.email" 
            required email
            #emailForgot="ngModel">
        <md-hint align="start">Type your email and we will send you an email to reset your password.</md-hint>
        <md-error *ngIf="emailForgot.invalid && (emailForgot.dirty || emailForgot.touched) && emailForgot.errors.required">Email is required</md-error>
        <md-error *ngIf="emailForgot.invalid && (emailForgot.dirty || emailForgot.touched) && emailForgot.errors.email">Email must be a valid email address</md-error>
      </md-input-container>
    </div>
  </section>

  <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="center none" class="form__actions">
    <button class="form__action mat-raised-button" md-raised-button type="submit" [disabled]="!forgotForm.form.valid">Send</button>
  </section>

</form>