@import '../../../../../variables';

.container__login {

  form {

    .form__actions {
      
      .fab, .progress-spinner {
        position: relative;
      }

      .fab {
        transform: translate(-50%, 0);
        right: auto;
        left: 50%;
      }

      .progress-spinner {
        left: -28%;
      }
    }
  }
  
  .form__login {
  
    .field__password .icon__suffix {
      cursor: pointer;
    }
  }

  .container__new-account {
    margin-top: 60px;
  }
}




@media screen and (min-width: $screenGtXs) {

}