@import '../../../../../variables';

.table__container {

  mat-table {
    
    mat-row  .mat-column-address {
      cursor: pointer;
    }

  }
}

.no-properties__card {
  text-align: center;

  md-card-content p {
    margin-bottom: 0;
  }
}

.progress-bar--get-properties {
  width: 100%;
}

@media screen and (min-width: $screenGtXs) {

  .progress-bar--get-properties {
    width: 300px;
  }
}