@import '../../../../../variables';

.property-table__container {
  
  .property-table__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.no-properties__card {
  text-align: center;

  md-card-content p {
    margin-bottom: 0;
  }
}

.progress-bar--get-properties {
  width: 100%;
}

@media screen and (min-width: $screenGtXs) {

  .progress-bar--get-properties {
    width: 300px;
  }
}