<div fxLayout="column" fxLayoutGap="10px" class="container__properties">
  <section class="table__container" *ngIf="!getPropertiesServiceRunning && properties.length > 0" fxLayout="column" fxLayoutGap="10px">
    <div class="table__overlay" *ngIf="propertyTableActionRunning">
        <mat-spinner color="warn"></mat-spinner>
    </div>
    <mat-table #propertiesTable [dataSource]="propertiesDataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab routerLink="/properties/{{element.type}}/edit/{{element.id}}" color="primary" (click)="propertyTableActionRunning = true">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let element; let propertyIndex = index;">
          <button mat-mini-fab color="warn" (click)="openDeleteTeamDialog(propertyIndex, element)">
            <mat-icon aria-label="Edit">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="['address', 'edit', 'delete']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['address', 'edit', 'delete'];"></mat-row>
    </mat-table>
  </section>
  <mat-paginator [fxShow]="properties.length > 0" #propertiesPaginator 
      [pageSize]="10" 
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[10, 1, 20, 50, 100]">
  </mat-paginator>
  
  <section *ngIf="!getPropertiesServiceRunning && properties.length == 0" fxLayout="column" fxLayoutGap="10px">
    <mat-card fxFlex class="no-properties__card">
      <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
          fxLayoutAlign="space-around center">
        <p> You do not have properties yet.</p>
      </mat-card-content>
    </mat-card>
    
  </section>

  <mat-progress-bar *ngIf="getPropertiesServiceRunning"
    fxFlexAlign="center"
    class="progress-bar progress-bar--get-properties"
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>

  <section fxLayout="column" fxLayoutAlign="start end" class="actions">
    <button mat-fab routerLink="house/create" class="fab mat-elevation-z10" color="accent" matTooltip="Create new property" matTooltipPosition="left">
      <mat-icon aria-label="Create new property">add</mat-icon>
    </button>
  </section>
</div>