<form class="form__container form__account-finance" (ngSubmit)="onSubmit()" #financeForm="ngForm" novalidate fxLayout="column" fxLayoutGap="10px" >

  <section fxLayout="column" class="form__fields">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px" class="form__fields__row">
      <!-- Active income -->
      <mat-form-field fxFlex fxFlex.gt-xs="33%" class="form__field">
        <input matInput type="number" id="annualIncome" name="annualIncome" placeholder="Annual Income" 
            [(ngModel)]="model.annualIncome" 
            value="model.annualIncome"
            numberValidator 
            #annualIncome="ngModel">
        <mat-hint align="start">Annual income amount pre-tax.</mat-hint>
        <mat-error *ngIf="annualIncome.invalid && (annualIncome.dirty || annualIncome.touched) && annualIncome.errors.numberValidator">Annual must be numeric, with no more than two decimal digits</mat-error>
      </mat-form-field>
      
      <!-- Tax rate -->
      <mat-form-field fxFlex fxFlex.gt-xs="33%" class="form__field">
        <input matInput type="number" id="incomeTaxRate" name="incomeTaxRate" placeholder="Active income tax rate" 
            [(ngModel)]="model.incomeTaxRate" 
            value="model.incomeTaxRate"
            numberValidator='{"min": 0, "max": 100}' 
            #incomeTaxRate="ngModel">

        <mat-hint align="start">Income tax rate (%).</mat-hint>
        <mat-error *ngIf="incomeTaxRate.invalid && (incomeTaxRate.dirty || incomeTaxRate.touched) && incomeTaxRate.errors.numberValidator">Tax rate must be numeric, with no more than two decimal digits</mat-error>
        <mat-error *ngIf="incomeTaxRate.invalid && (incomeTaxRate.dirty || incomeTaxRate.touched) && incomeTaxRate.errors.numberValidatorMin">Min value must be greater or equal than 0</mat-error>
        <mat-error *ngIf="incomeTaxRate.invalid && (incomeTaxRate.dirty || incomeTaxRate.touched) && incomeTaxRate.errors.numberValidatorMax">Max value must be less or equal than 100</mat-error>
      </mat-form-field>
      <!-- <pre>{{incomeTaxRate.errors | json}}</pre> -->

      <!-- Net worth -->
      <mat-form-field fxFlex fxFlex.gt-xs="33%" class="form__field">
        <input matInput type="number" id="netWorth" name="netWorth" placeholder="Net worth" 
            [(ngModel)]="model.netWorth" 
            value="model.netWorth"
            numberValidator
            #netWorth="ngModel">
      </mat-form-field>
    </div>
  </section>

  <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutAlign.gt-xs="center center" class="form__actions form__actions--account-finance">
    <button *ngIf="!accountFinanceServiceRunning" 
        class="form__action mat-raised-button" 
        mat-raised-button 
        type="submit" 
        color="accent" 
        [disabled]="!financeForm.form.valid">Save</button>
    
    <mat-progress-bar *ngIf="accountFinanceServiceRunning"
        class="progress-bar progress-bar--account-finance"
        color="primary"
        mode="indeterminate">
    </mat-progress-bar>
  </section>

</form>